/*-------------------------------
              BASE
--------------------------------*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: white;
}

/*-------------------------------
            LAYOUT
--------------------------------*/
#container {
  margin: auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(125, 186, 229, .8);
  box-shadow: 0 4px 0.3125rem rgba(0, 0, 0, .3);
  z-index: 5;
}

/*--------------------------------
          Main Visual
---------------------------------*/
.main-visual {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
}

.main-visual-inner {
  padding: 0 40px;
}

.main-visual-title {
  font-size: 60px;
  font-weight: bold;
  color: dimgray;
  line-height: 2rem;
  margin-bottom: 5px;
  letter-spacing: .1em;
}

.main-visual-subtitle {
  font-size: 20px;
  font-weight: bold;
  color: gray;
  margin-bottom: 40px;
  letter-spacing: .08em;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 180%;
  color: dimgray;
  text-align: center;
  margin-top: 50px;
  padding: auto;
  letter-spacing: .1em;
}

/*--------------------------------
              WORKS
---------------------------------*/

.flex-works {
  padding: 20px 50px 50px 50px;
  background: rgb(225, 243, 255);
}

/*--------------------------------
              ABOUT
---------------------------------*/

.flex-about {
  padding: 20px 50px 50px 50px;
}

.profile-image {
  text-align: center;
  margin-top: 2rem;
}

.name {
  color: #4b4b4b;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}

.introduce {
  font-size: 1.5rem;
  text-align: center;
  margin: 4rem;
  color: dimgray;
}

/*--------------------------------
              SKILL
---------------------------------*/

.flex-skill {
  padding: 20px 50px 50px 50px;
  background: rgb(225, 243, 255);
}

.skill-container01 {
  color: dimgray;
  margin: 5rem;
}

.skill-container02 {
  color: dimgray;
  margin: 5rem;
}

p.HTML {
  margin-bottom: 0.5em;
}

p.CSS {
  margin-bottom: 0.5em;
}

p.JavaScript {
  margin-bottom: 0.5em;
}

p.jQuery {
  margin-bottom: 0.5em;
}

p.Photoshop {
  margin-bottom: 0.5em;
}

p.Illustrator {
  margin-bottom: 0.5em;
}

p.Word {
  margin-bottom: 0.5em;
}

p.Excel {
  margin-bottom: 0.5em;
}

/*--------------------------------
              CONTACT
---------------------------------*/

.flex-contact {
  padding: 20px 50px 50px 50px;
}

.mail {
  text-align: center;
  margin-top: 3rem;
}

.sns-container {
  text-align: center;
  margin-top: 3rem;
  padding-bottom: 5rem;
}

.fa-facebook {
  color: #3b5998;
  font-size: 3rem;
  margin-right: 2rem;
}

.fa-twitter {
  color: #00acee;
  font-size: 3rem;
  margin-right: 2rem;
}

.fa-instagram {
  color: #CF2E92;
  font-size: 3rem;
}

#page-top {
  width: 100px;
  height: 30px;
  float: right;
  text-align: center;
  margin-right: 0.5rem;
}

#page-top i {
  font-size: 40px;
  color: rgb(125, 186, 229);
}

#page-top p {
  font-size: 15px;
  color: rgb(125, 186, 229);
}



footer {
  padding: 1.5rem;
  text-align: center;
  background-color: #9bcaeb;
  color: white;
  letter-spacing: .2em;
}
