/*-----------------------------------------------------------------------

まだ未完成なのでそのままコピーすると欠陥がでます
  
欠陥だらけです
  
ご注意下さい
  
by Ami Kimura

-----------------------------------------------------------------------*/




/*-------------------------------
          mobile.css
--------------------------------*/
header {
  height: 3rem;
}

header h2 {
  position: absolute;
  top: 0.7rem;
  left: 1rem;
  color: white;
  font-size: 1rem;
}

nav {
  position: absolute;
  top: 0.6rem;
  right: 0.4rem;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li a {
  color: white;
  font-size: 0.7rem;
}

.works-images {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

img.margin01 {
  margin-bottom: 50px;
}

img.margin02 {
  margin-bottom: 50px;
}
