/*-------------------------------
             pc.css
--------------------------------*/
header {
  height: 5rem;
}

header h2 {
  position: absolute;
  top: 1.4rem;
  left: 2rem;
  color: white;
  font-size: 1.5rem;
  letter-spacing: .08em;
  width: 100%
}

nav {
  position: absolute;
  top: 1.8rem;
  right: .3em;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  margin-right: 2rem;
}

nav ul li a {
  color: white;
  letter-spacing: .08em;
}

.works-images {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

img.margin01 {
  margin-right: 50px;
}

img.margin02 {
  margin-right: 50px;
}

.skill-container01 {
  position: relative;
  height: 5rem;
  left: 25rem;
  margin-top: 3rem;
}

.skill-container02 {
  position: relative;
  top: -7.9rem;
  right: -48rem;
  margin-top: 3rem;
}
